
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2>ToDoList</h2>

<p>#1 Profilim</p>
<p>>#2Tüm başlıklarda Paging</p>
<p>#3 Mesajlarda Session</p>
<p>#4 Oturum Yönetiminin mimariye taşınması</p>
<p>#5 token kullanımı</p>